.btn_class .webix_button {
    color:blue;
    background-color: brown;
}

.default .webix_button {
    color:white;
    background-color: black;
}

.btn_desc .webix_button {
    color:black;
    background-color: #c27484 ;
}

/* .mybutton .webix_button {
    color:red;
    background-color: black;
} */